# General settings
LOG_LEVEL=debug
MAX_SAVE_PAGE=50

# Database settings
BD_HOST=localhost
BD_PORT=5432
BD_USER=user
BD_PASSWORD=password
BD_DBNAME=dbname
BD_SSL_MODE=disable
BD_SCHEMA=dev

# HTTPS Server
HTTP_PORT=8083
HTTP_TIMEOUT=20s
HTTP_IDLE_TIMEOUT=60s

# Docs
DOCS_USER=user
DOCS_PASSWORD="password"

REDIS_HOST=localhost:6379